<div *ngIf="slides.length > 0" class="slider">
  <div class="wrapper">
    <div class="container">
      <figure *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.url }}" alt="{{ slide.post_url }}" />
      </figure>
    </div>
    <div class="option-tray">
      <button (click)="previousSlide($event)" class="button">&#10094; Previous</button>
      <button (click)="nextSlide($event)" class="button">Next &#10095;</button>
      <button [ngClass]="interval === null ? 'innactive' : 'active'" (click)="toggleAutomate($event)" class="toggle button">
        Automate: <span *ngIf="interval === null; else toggleOn">Off</span>
        <ng-template #toggleOn>On</ng-template>
      </button>
    </div>
  </div>
</div>
